[submodule "alibaba-dp-workload"]
	path = alibaba-dp-workload
	url = https://github.com/columbia/alibaba-dp-workload.git
[submodule "PrivateKube"]
	path = PrivateKube
	url = https://github.com/DelphianCalamity/PrivateKube.git
